<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./Blocks/head', title) %>
</head>

<body>

  <%- include('./Panel/navbar', user, avatarURL=discordImageURL('avatars', user.id, user.avatar)) %>

    <section id="servers" class="d-flex align-items-center">
      <div class="container mt-3">
        <div class="section-title d-flex">
          <div class="user-avatar">
            <div class="load-img">
              <img class="avatar-img" src="<%= discordImageURL('avatars', user.id, user.avatar) %>"
                style="border-radius: 100%;" width="60" height="60" alt="avatar-img">
            </div>
          </div>
          <div class="user-details">
            <div class="user-username" style="margin-top: 14px; font-size: 24px;">
              <span style="color: #417bd2"> Welcome, </span>
              <%= user.username %>#<%= user.discriminator %>
            </div>
          </div>
        </div>
        <div class="container server-container">
          <!--<div class="section-title2">
            <h1>Servers <span style="color:#fff"><%= user.guilds.length %></span></h1>
          </div>-->
          <div class="container padding-add">
            <div class="row">
              <% user.guilds.forEach(async(guild)=> {
                if (calculatePermissions(guild.permissions).includes('ADMINISTRATOR' || 'MANAGE_GUILD')) { 
                  %>
                <div class="col-lg-3">
                  <a href="javascript:void">
                    <img class="card-img-top" src="<%= discordImageURL('icons', guild.id, guild.icon) %>" alt="No Guild Icon Found">
                  </a>
                  <div class="card-body">
                    <div class="server-name" style="font-size: 20px; font-weight: 600;">
                      <%= guild.name %>
                    </div>
                      <a href="/dashboard/<%= guild.id %>/information" class="btn btn-primary change-class">Edit <%= guild.name %></a>
                  </div>
                </div>
                <% } }); %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./Blocks/footer') %>

      <script src="/JS/statify.js"></script>

</body>

</html>